{% include "header.html" %}

  <section class="main-section">
    <div class="main-title">
      <p>
        Hiddenfeelings
      </p>
    </div>
    <div class="main-text-1">
      <p>
        Hey babes, There are so many things that have happened so far. Everytime something takes place I always think it's my fault and etc etc... I may not be the perfect boyfriend, May do stupid stuff, and may not have all the qualities that you desire. But love i love you a lot and will keep loving you till the end so Please continue being a part of my life cause 90% of me is you rest 10% is me so you play a major role in my life. And I would like you to keep doing that.
      </p>
    </div>
  </section>