{% include "header.html" %}

  <section class="main-section">
    <div class="main-title">
      <p>
        Hiddenfeelings
      </p>
    </div>
    <div class="main-text-1">
      <p>
        Hey Gin!! Kai just bought our site to tell you this message.
      </p>
    </div>
    <div class="main-text-2">
      <p>
        Login to view the message!
      </p>
      <a type="button" class="btn btn-primary btn-lg login-btn" href="{{ url_for('login_page') }}">Login</a>
    </div>
  </section>

</body>
</html>
